body{
    margin: 0px 300px 10px;
    background: #ececec;
    
}

.main{
    margin: 0px 10px 10px;
    background: #FFFFFF;
    border: 1px solid #bbb5b2;
    justify-content: center;
}

.content{
    margin: 15px 15px;
}

p{
    
}

.li{
    
}